.footer {
  position: absolute;
  padding: 1rem;
  text-align: center;
  width: 100%;
  bottom: 0;

  .copyright {
    font-size: 1.2rem;
    margin: 0;
  }

  .fixed-action-btn {
    position: absolute;
  }
}