$font-1: 'Montserrat',
sans-serif;
$font-2: 'Roboto',
sans-serif;

// Media Variables
$break-xs: 'only screen and (max-width: 500px)';
$break-sm: 'only screen and (max-width: 768px)';
$break-md: 'only screen and (max-width: 992px)';
$break-lg: 'only screen and (max-width: 1200px)';
$break-xl: 'only screen and (max-width: 1800px)';